.productList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.oneProduct {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
}

.price-stock {
    display: flex;
}

img {
    width: 300px;
    height: 200px;
}